<ul style="color:red;">
    <th:block th:utext="${errorMessage}"></th:block>
</ul>
<form action="doWrite" method="POST" th:object="${form}">
    <div>
        <label for="title">제목</label><br>
        <input type="text" placeholder="제목" autofocus th:field="*{title}"><br>
    </div>
    <div>
        <label for="content">내용</label><br>
        <textarea placeholder="내용" th:field="*{content}"></textarea><br>
    </div>
    <button type="submit">작성</button>
</form>

<script>
    // 현재까지 나온 모든 폼 검색
    const forms = document.querySelectorAll("form");
    // 그 중에서 가장 마지막에 나온 폼을 선택
    const lastForm = forms[forms.length - 1];
    // li 태그에서 data-error-field-name 속성값 가져오기
    const errorFieldName = lastForm.previousElementSibling?.querySelector('li')?.dataset?.errorFieldName || '';
    if(errorFieldName.length > 0) {
        // 해당 폼의 에러 필드에 포커스
        lastForm[errorFieldName].focus();
    }
</script>